
.carousel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.pictures-details{
    width: 100%;
    max-width: 350px;
    height: auto;
    background: rgba(235, 235, 235, 0.38);
    display: flex;
    gap:50px;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 0px 10px 0px 10px;
}

.pictures-details::-webkit-scrollbar{
    display: none;
}

.pictures-details img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    scroll-snap-align: center;
}

.selector{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.button-selected{
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: rgb(147, 153, 152);
    cursor: pointer;
    border: none;
    transition: width 150ms ease;
}

.active-button-carousel{
    background-color: rgb(16, 84, 161);
    width: 9px;
    height: 9px;
    border: none;
}
