
.carousel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.pictures-details{
    width: 100%;
    height: 100%;
    background: rgba(235, 235, 235, 0.38);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap:10px
}

.pictures-details::-webkit-scrollbar{
    display: none;
}

.pictures-details img{
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    scroll-snap-align: center;
}

.selector{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.button-selected{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #999999;
    cursor: pointer;
    border: none;
    transition: width 150ms linear;
}

.active-button-carousel{
    background-color: rgb(16, 84, 161);
    transform: scale(1.1);
    border: none;
}
