.management-container{
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    flex-direction: column;
}

.management-container h2{
    color: #545454;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 137%; /* 65.76px */
    letter-spacing: -0.8px;
    text-transform: uppercase;
}

.management-menu-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 370px;
    font-family: Noto Sans;
    gap:10px;
    padding: 8px;
    border-radius: 10px;
    background: rgba(194, 182, 182, 0.14);
}

.contrainer-title-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.contrainer-title-menu i{
    color: #545454;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.managment-menu-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap:20px;
}

.management-menu-container-reponsive{
    grid-template-columns:1fr;
    margin-bottom: 20px;
}

.management-menu-section{
    width: 170px;
    height: 135px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 3px solid #726b6b;
    background: #FFF;
    filter: blur(0.5px);
    text-align: start;
    padding: 10px;
    cursor: pointer;
}

.management-menu-section:hover{
    background-color: #1d1d1d;
    color: white;
    transition: 0.3s ease-in-out background-color;
}

.management-menu-section h4{
    margin-block: 0px;
    font-size: 1.2rem;
    margin-top: 10px;
    
}

.icon-management-section{
    display: flex;
   height: 80px;
    align-items: center;
    justify-content: right;
}

@media (max-width:500px) {
    .management-menu-container{
        flex-direction: column;
    }
    
}