.products-management-page{
    min-height: 85.5vh;
    background-color: #fff;
    position: relative;
    font-family: "Noto Sans";
}

/*active filters container*/
.products-management-page-active-filter-component-container{
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: -10px;
    width: 91.5%;
}

@media (max-width: 500px){
    .products-management-page-active-filter-component-container{
        width: 95%;
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .back-button-title-container h3{
        font-size: 25px;
    }
}