.store-page{
    width: 100%;
    min-height: 100vh;
    background-color:#fff;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "aside content content content content";
        color: rgb(0, 0, 0);

}

.store-page aside{
    grid-area: aside;
    margin-top: 20px;
}
.store-page main{
    grid-area: content;
    margin-top: 20px;
}

/*active filters container*/
.store-page-active-filters-component-container{
    margin: 0 auto;
}

@media (min-width: 850px){
    .store-page-active-filters-component-container{
        width: 80%;
        padding-left: 10px;
    }
}

@media (max-width: 850px) {
    .store-page{
        grid-template-areas: 
            "content content content content content";
        grid-template-rows: auto;
    }
    .store-page aside{
        display: none;
    }
}
