.user-navbar-actions-dropdown{
    border: 0;
    outline: 0;
    align-items: center;
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
}

.user-navbar-actions-dropdown span{
    display: none;
}

.user-navbar-actions-dropdown-panel{
    margin-top: 10px;
    height: 500px;
}

.user-navbar-actions-dropdown-panel .p-dropdown-items-wrapper{
    max-height: 500px!important;
}

.user-navbar-actions-dropdown-panel .p-dropdown-items-wrapper ul{
    height: auto;
}

.user-navbar-actions-dropdown-panel .p-dropdown-items-wrapper li{
    outline: none;
    cursor: default;
}
.user-navbar-actions-dropdown-panel .p-dropdown-items-wrapper li.p-focus{
    background-color: transparent;
}
