.similar-products-section{
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}
.similar-products-section > header{
    text-align: center;
}
.similar-products-section > header h1{
    color: #000;
    font-family: "Poppins-Regular";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.9px;
}
.similar-products-section > section{
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap:20px;
    padding: 0px 5px 0px 5px;
}

@media (min-width:570px) and (max-width:750px) {
    .similar-products-section > section{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr))!important;
        gap:10px;
    }
}

@media (max-width:570px){
    .similar-products-section > section{
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap:10px;
        padding: 0px 3px 0px 3px;
    }

    .similar-products-section > header h1{
        font-size: 25px;
    }
}