.active-filters-container{
    width: 100%;
    text-align: start!important;
    display: flex;
    flex-direction: row;
    font-family: Noto Sans;
    align-items: center;
}

.active-filters-container h5{
    min-width: 150px;
    margin:0;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-family: "Poppins-Medium";
    font-weight: 400;
    opacity: 0.7;
}

.active-filters-list{
    width:100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    gap:10px;
    padding-right:20px;
    padding-left: 10px;
}

.active-filters-list::-webkit-scrollbar{
    display: none;
}

.active-filters-list li{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: #535353;
    color:#fff;
    border-radius: 15px;
    padding:3px 10px 3px 20px;
    opacity: 0.45;
}

.active-filters-list span{ 
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: "Raleway-Regular";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.8px;
}

.active-filters-list button{
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 3px;
}

@media (max-width: 510px) {
    .active-filters-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}


