.price{
    margin: 0;
    text-align: right;
    font-size: 20px;
    letter-spacing: -0.48px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins-Medium';
    letter-spacing: 1.25px;
    opacity: .8;
    white-space: nowrap;
}

.price span{
    max-height: 24px;
    white-space: nowrap;
}

.price-with-discount .original-price{
    text-decoration-line: line-through;
    font-size: 13px;
    letter-spacing: 1px;
    opacity: .5;
    white-space: nowrap;
}

@media (min-width:500px) and (max-width: 700px){
    .price {
        font-size: 18px;
    }

    .price-with-discount .original-price{
        font-size: 12px;
    }
}

@media (max-width: 500px){
    .price {
        font-size: 14px;
    }

    .price-with-discount .original-price{
        font-size: 10px;
    }
}