.price{
    margin: 0;
    text-align: right;
    font-size: 20px;
    line-height: 40.214px; /* 167.557% */
    letter-spacing: -0.48px;
    display: flex;
    flex-direction: column;

    font-family: 'Poppins-Medium';
    letter-spacing: 1.25px;
    opacity: .8;
}

.price span{
    max-height: 24px;
}

.price-with-discount .original-price{
    text-decoration-line: line-through;
    font-size: 13px;
    letter-spacing: 1px;
    opacity: .5;
}