.homepage-recommended-products{
    width: 100%;
    display: grid;
    grid-template-columns: minmax(150px, 450px) 50%;
    grid-template-areas: 
    "title title"
    "image image";
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-bottom: 50px;
    padding: 20px;
}

.homepage-recommended-products > aside{
    grid-area: image;
}
.homepage-recommended-products > header{
    grid-area: title;
    align-self: flex-end;
}

.homepage-recommended-products > header > h1{
    margin: 0;
    color: #d763aeff;
    text-align: center;
    font-family: "Poppins-Medium";
    font-size: 35px;
    font-weight: 600;
    text-wrap: pretty;
    white-space: nowrap;
}

.homepage-recommended-products > aside .pictures-details{
    border-radius: 15px;
    background-color: transparent;
    max-height: 800px;
    max-width: 600px;
    overflow-y: hidden;
}
.homepage-recommended-products > aside img{
    border-radius: 15px;
}
.homepage-recommended-products > aside .active-button-carousel{
    background-color: #D9658F;
    transform: scale(1.3);
}

@media (max-width:1000px) {
    .homepage-recommended-products > header > h1{
       font-size: 30px;
    }
}
@media (max-width:800px) {
    .homepage-recommended-products{
        grid-template-columns:90%;
        grid-template-areas: 
        "title"
        "image";
        gap:20px
    }
    .homepage-recommended-products > aside{
        width: 60%;
        margin: auto;
    }
    .homepage-recommended-products > header > h1{
        text-align: center;
     }
}

@media (max-width:600px) {
    .homepage-recommended-products{
        grid-template-columns:100%;
        grid-template-areas: 
        "title"
        "image";
        gap:5px
    }
    .homepage-recommended-products > aside{
        width: 70%;
        margin: auto;
    }

    .homepage-recommended-products > header > h1{
        font-size: 20px;
    }
}

@media (max-width: 500px){
    .homepage-recommended-products{
        margin-top: -30px;
    }
    .homepage-recommended-products > aside{
        width: 100%;
        margin: auto;
    }
}