.product-card{
    width: 100%;
    height: 100%;   
    max-width: 280px;
    max-height: 420px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgb(202, 201, 201);
    position: relative;
    padding:10px;
    transition: transform 0.3s linear;
    transition: box-shadow 0.3s linear;
    display:flex;
    flex-direction: column;
    gap:10px
}

.product-card:hover{
    box-shadow: 2px 5px 10px rgb(202, 201, 201);
    transform: scale(1.01);
}

.product-card:hover .add-product-to-cart-button{
    opacity: 1;
}

.img-container {
    width: 100%;
    flex-grow: 1;
    max-height: 86%;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  
.img-container img{
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
  }

.name-and-price-container{
    width: 100%;
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "name price"
    "punctuation price";
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
    gap:10px;
}

.product-card-name{
  grid-area: name;
  height: 100%;
  flex-grow: 1;
  max-width: 100%;
  margin:0;
  padding-top: 5px;
  color: #000;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  font-family: 'Poppins-Regular';
  letter-spacing: 1.25px;
  opacity: 0.8;
}

.product-card .name-and-price-container .product-card-punctuation{
  grid-area: punctuation;
}

.product-card .name-and-price-container .price{
  grid-area: price;
}

.product-card .add-to-cart-button-container{
    position: absolute;
    top:20px;
    left:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px){
  .product-card .name-and-price-container{
    grid-template-areas: 
    "name name"
    "punctuation price";
  }
  .product-card-name{
    text-align: center;
  }
}

@media (max-width: 650px) {
  .product-card .add-product-to-cart-button{
    width: 30px;
    height: 30px;
  }

  .product-card{
    padding: 8px;
  }
}

@media (max-width:500px) {
  .product-card-name{
    font-size: 14px;
  }
}

@media (hover: none){
    .product-card .add-product-to-cart-button{
        opacity: 1;
      }
}
    



