.categories-side-bar {
  height: 100%;
  width: 100%;
  text-align: center;
}

.categories-side-bar ul {
  width: 100%;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  padding: 0px 5px 10px 0px;
  font-family: "Poppins-Regular";
  font-size: 14px;
  font-weight: 700;
}

.categories-side-bar ul::-webkit-scrollbar {
  display: none;
}
.categories-side-bar ul li{
  position: relative;
}

.categories-side-bar li span {
  cursor: pointer;
  border-radius: 10px;
  min-width: 100px;
  display: inline-block;
  color: #000;
  white-space: nowrap;
  
}

.item-selected span {
  padding: 5px;
  padding-right: 30px;
  background-color: rgba(215, 99, 174, 0.558);
}

.item-no-selected span{
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.105);
}

.quit-active-item-button{
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  position: absolute;
  right: 3px;
  top:50%;
  transform: translate(0%, -50%);
  border-radius: 100%;
  background-color: transparent;
}