.categories-side-bar {
  height: 100%;
  width: 100%;
  text-align: center;
}

.categories-side-bar ul {
  width: 100%;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  padding: 5px 5px 20px 5px;
  font-family: "Poppins-Regular";
}

.categories-side-bar ul::-webkit-scrollbar {
  display: none;
}

.categories-side-bar li span {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  min-width: 100px;
  display: inline-block;
  color: #000;
  white-space: nowrap;
}

.category-selected span {
  outline: 1px solid;
}
