.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.navbar a{
  cursor: pointer;
}

.navbar ul{
  width: 90%;
  list-style: none;
  margin: 0 auto;
  display:grid;
  grid-template-columns: auto auto auto auto 1fr auto auto;
  grid-template-areas: "logo promotions recommended-products categories search cart dropdown";
  gap:30px;
  align-items: center;
  padding-left: 0;
  position: relative;
}

.navbar ul li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar-logo-container{
  grid-area: logo;
}

.navbar .navbar-homepage-link{
  color: #313131;
  font-family: "Poppins-Regular";
  font-size: 16px;
  cursor: pointer;
}

.navbar .navbar-promotions-container{
  grid-area: promotions;
  width: 130px;
}

.navbar .navbar-recommended-products-container{
  grid-area: recommended-products;
  width: 130px;
}

.navbar .navbar-categories-container{
  grid-area: categories;
  width: 130px;
}

.navbar .navbar-search-container{
  grid-area: search;
}

.navbar .navbar-cart-container{
  grid-area: cart;
  width: 30px;
}

.navbar .navbar-dropdown-container{
  grid-area: dropdown;
  overflow-x: hidden;
  width: 30px;
}
.navbar .navbar-dropdown-container:empty{
  display: none;
}

.navbar .navbar-categories-list-container{
  grid-area: categories-list;
  display: none;
}

@media (min-width:900px) and (max-width:1100px) {
  .navbar ul{
    width: 98%;
    gap:30px;
  }
  .navbar .navbar-homepage-link{
    font-size: 14px;
  }
  .navbar .navbar-logo-container h1{
    font-size: 25px!important;
  }
}

@media (max-width:900px){
  .navbar{
    height: auto;
  }
  .navbar .navbar-promotions-container{
    display: none;
  }
  .navbar .navbar-recommended-products-container{
    display: none;
  }
  .navbar .navbar-categories-container{
    display: none;
  }
  .navbar .navbar-categories-list-container{
    display: block;
    width: 100%;
  }
  .navbar ul{
    width: 95%;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: 
    "logo logo logo"
    "search cart dropdown"
    "categories-list categories-list categories-list"
    ;
    padding-top: 20px;
    gap:10px 20px;
  }
  .navbar .navbar-logo-container{
    justify-self: flex-start;
  }
}

