.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  z-index: 10;
  position: relative;
}

.navbar ul{
  width: 90%;
  list-style: none;
  margin: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 50px 50px;
  grid-template-areas: "logo promotions recommended-products categories search cart dropdown";
  gap:20px;
  align-items: center;
}

.navbar ul li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar-logo-container{
  grid-area: logo;
}

.navbar .navbar-homepage-link{
  color: #313131;
  font-family: "Poppins-Regular";
  font-size: 16px;
}

.navbar .navbar-promotions-container{
  grid-area: promotions;
}

.navbar .navbar-recommended-products-container{
  grid-area: recommended-products;
}

.navbar .navbar-categories-container{
  grid-area: categories;
}

.navbar .navbar-search-container{
  width: 500px;
  grid-area: search;
}

.navbar .navbar-cart-container{
  grid-area: cart;
}

.navbar .navbar-dropdown-container{
  grid-area: dropdown;
}

