.homepage-promotions-section{
    background-color: #F6E6EC;
    margin-top:50px;
    box-shadow: 0px 5px 10px rgba(5, 5, 5, 0.222);
    height: auto;
    min-height: 300px;
    padding: 30px 0px 20px 0px;
    position: relative;
}

.homepage-promotions-section > h1{
    text-align: center;
    color: #000;
    font-family: "Poppins-Regular";
    font-size: 25px;
    letter-spacing: 1.5px;
    opacity: 0.58;
    margin: 0;
}

.homepage-promotions-section > h2{
    color: #DD759B;
    font-family: "Poppins-Regular";
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

.homepage-promotions-section .cards-container{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap:20px;
    overflow: hidden;
    padding: 0px 0px 20px 0px;
}

.homepage-promotions-section .points-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px
}

.homepage-promotions-section .points-container .point{
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 0;
    background-color: #999999;
}

.homepage-promotions-section .points-container .point-active{
   background-color: #D9658F;
}

@media (min-width:680px) and (max-width: 850px){
    .homepage-promotions-section .cards-container{
        grid-template-columns: repeat(auto-fit, 200px);
        height: auto;
        min-height: 400px;
    }
}

@media (min-width:550px) and (max-width:680px){
    .homepage-promotions-section .cards-container{
        grid-template-columns: repeat(auto-fit, 150px);
        height: auto;
        min-height: 300px;
    }
    .homepage-promotions-section > h1{
        font-size: 25px;
    }
}

@media (max-width: 550px){
    .homepage-promotions-section .cards-container{
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        height: auto;
        min-height: 250px;
        gap: 10px;
        padding: 0px 5px 20px 5px;
    }
    .homepage-promotions-section > h1{
        font-size: 20px;
    }
    .homepage-promotions-section > h2{
        font-size: 30px;
    }
    .homepage-promotions-section .points-container .point{
        width: 10px;
        height: 12px;
    }
}