/*Paginator styles*/
.paginator{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 20px 5px;
    margin-top: 40px;
    gap:6px;
    border-top: 1px solid rgba(178, 177, 177, 0.236);
}
.paginator-invisible{
    display:none;
}
.paginator a{
    text-decoration:none;
    color: black;
}
.paginator a:hover{
    color: black;
}
.page{
    min-width: 32px;
    text-align: center;
    cursor: pointer;
}

.page:hover{
    color: black;
    border-radius: 4px;
    border: 1px solid var(--Gray-400, #CED4DA);
    background: var(--Gray-200, #E9ECEF);
}
.page-active{
    min-width: 32px;
    border-radius: 4px;
    border: 1px solid var(--Gray-400, #CED4DA);
    background: var(--Gray-200, #E9ECEF);
}
.next-page-button{
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--Gray-500, #ADB5BD);
    padding:5px;
    margin-left: 5vw;
    display: flex;
    align-items: center;
}
.next-page-button:hover{
    background: var(--Gray-200, #E9ECEF);
}
.previous-page-button{
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--Gray-500, #ADB5BD);
    padding:5px;
    margin-right: 5vw;
    display: flex;
    align-items: center;
}
.previous-page-button:hover{
    background: var(--Gray-200, #E9ECEF);
}

/*Mobile*/
@media (max-width: 830px){
    .next-page-button{
        margin:0
    }
    .previous-page-button{
        margin:0
    }
}