---
import Layout from '../layouts/Layout.astro';
import App from '@/App';
import PageLoader from '@/components/Loaders/PageLoader';
---

<Layout>
	<main style = "min-height:91vh">
		<PageLoader id = {"page-loader"}/>
		<App client:only="react"/>
	</main>
</Layout>
