---
import Layout from '../layouts/Layout.astro';
import App from '@/App';
import Footer from "@/components/Footer/index.jsx";
---

<Layout>
	<main style = "min-height:91vh">
		<App client:only="react"/>
	</main>
	<footer>
		<Footer />
	</footer>
</Layout>
