.product-card{
    width: 100%;
    height: 380px;   
    cursor: pointer;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgb(202, 201, 201);
    position: relative;
    padding:10px;
    transition: transform 0.3s linear;
    transition: box-shadow 0.3s linear;
}

.product-card:hover{
    box-shadow: 2px 5px 10px rgb(202, 201, 201);
    transform: scale(1.01);
}

.product-card:hover .add-product-to-cart-button{
    opacity: 1;
}

.img-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  
.img-container img{
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
  }

.name-and-price-container{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap:10px;
}

.product-card-name{
    margin:0;
    color: #000;
    font-size: 18px;
    font-style: normal;
    line-height: 21.245px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-family: 'Poppins-Medium';
    letter-spacing: 1.25px;
    opacity: .8;
}

.product-card .add-to-cart-button-container{
    position: absolute;
    top:15px;
    left:15px;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*Mobile*/
@media (max-width: 600px) {
  .product-card{
    height: 280px;
  } 
  .product-card .img-container{
    height: 200px;
  }
  .product-card .add-product-to-cart-button{
    width: 30px;
    height: 30px;
  }
}

@media (hover: none){
    .product-card .add-product-to-cart-button{
        opacity: 1;
      }
}
    



