.categories-form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.promotion-form-field{
    display: flex;
    gap:10px;
    align-items: center;
}

.promotion-form-field label{
    width: 150px;
}

.promotion-form-field input{
    width: 100%;
}

.categories-form button{
    margin-top:10px;
    background:rgba(84, 84, 84, 1);
}

.promotion-image-field img{
    width:100px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
}

.promotion-description-field{
    display: flex;
    flex-direction: column;
}
.promotion-description-field textarea{
    min-width: 100%;
    max-width: 280px;
    min-height: 100px;
    border: 1px solid gray;
    background: rgba(234, 229, 229, 0.17);
}

.promotion-form input:focus{
    box-shadow: 0 0 0 0.05rem #525252;
}

.promotion-form .p-focus{
    box-shadow: 0 0 0 0.05rem #525252!important;
}

.promotion-form .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus{
    box-shadow: 0 0 0 0.05rem #525252!important;
    border: 1px solid gray;
}

.promotion-description-field textarea:focus{
    box-shadow: 0 0 0 0.05rem #525252;
}

/*ACTIVE CHECKBOX*/
.promotion-form-checkbox{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    margin-top: 10px;
}

.promotion-form-checkbox label{
    width: 100px;
}

/*cambio el color del checkbox a gris*/
.promotion-form-checkbox .p-highlight{
    background-color: rgba(84, 84, 84, 1);
    border:0
}
/*Cambio estilos del borde del checkbox*/
.promotion-form-checkbox .p-checkbox .p-checkbox-box{
    border: 1.5px solid gray;
}

@media (max-width : 500px) {
    .promotion-image-field{
        flex-direction: column;
    }
    .promotion-image-field img{
        width: 50%;
        height: auto;
    }

    .promotion-form-field{
        flex-direction: column;
    }
    .promotion-form-field label{
        width: 100%;
        text-align: start;
    }
}
