a { 
  all: unset;
  cursor: pointer
}

a:visited{
  color:black
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover{
  cursor: pointer;
}

.btn-general-styles{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width:500px){
  .toast-mobile-styles{
    width: 250px;
    font-size: 14px;
}
.toast-mobile-styles .p-toast-message-content{
    align-items: center;
    padding: 5px;
}
.toast-mobile-styles svg{
    width: 15px;
    height: 15px;
}
}


