.navbar-categories-dropdown{
    max-width: 230px;
    border: 0;
    outline: 0;
    align-items: center;
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
}

.navbar-categories-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: #D9658F;
    color: white
}

.navbar-categories-dropdown .p-dropdown-label{
    color: #313131;
    font-family: "Poppins-Regular";
    font-size: 17px;
    font-weight: 400;
}
.navbar-categories-dropdown span{
    color: black;
    font-weight: bold;
}

.navbar-categories-dropdown .p-dropdown-trigger{
    width: 1rem;
}
