.retry-query-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:15px;

    color: #000;
    font-family: "Poppins-Regular";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.retry-query-component button{
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    background-color: #d763aeff;
    color:#fff;
    border:0
}