.search-form{
    width: 100%;
    height: 40px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #d9d9d98f;;
    gap:5px;
    padding:10px;
}
   
.search-form input{
    width: 100%;
    border:0;
    background-color: transparent;
    opacity: 1;
    font-family: 'Poppins-Medium';
    font-size: 15px;
    padding-left: 10px;
}

.search-form input:focus{
    outline:0;
}

/*Mobile*/
@media (max-width: 830px){
    .search-form{
        gap:0;
        width: 100%;
    }
    .search-form input{
        width:80%;
    }

}