.product-details-section{
    width: 100%;
    display: grid;
    grid-template-columns: minmax(150px, 450px) 50%;
    grid-template-areas: 
    "image title"
    "image price"
    "image description"
    "image add-to-cart-button";
    justify-content: space-around;
    align-items: center;
    gap:0px 50px;
    padding: 20px;
}

.product-details-section > aside{
    grid-area: image;
}
.product-details-section > header{
    grid-area: title;
    align-self: flex-start;
}
.product-details-section > main{
    grid-area: description;
    align-self: flex-start;
}
.product-details-section > section{
    grid-area: price;
    align-self: flex-end;
}
.product-details-section > footer{
    grid-area: add-to-cart-button;
    align-self: flex-start;
    height: 60px;
}

/*START Price container overriding styles*/
.product-details-section > section .price.price-with-discount{
    flex-direction: row;
    align-items: flex-end;
    gap: 10px
}
.product-details-section > section .new-price{
    color: #D9658F;
    font-family: "Poppins-Regular";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2.5px;
}
.product-details-section > section .price{
    color: #D9658F;
    font-family: "Poppins-Regular";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2.5px;
    text-align: start;
}
.product-details-section > section .original-price{
    height: 40px;
    color: #333;
    font-family: "Poppins-Regular";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.25px;
}
.product-details-section > section .price span{
    max-height:none
}
/*END Price container overriding styles*/

.product-details-section > header > h1{
    margin: 0;
    color: #000;
    font-family: "Poppins-Regular";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.9px;
}

.product-details-section > main > p{
    color: #313131;
    font-family: "Poppins-Regular";
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 3px;
    text-wrap: pretty;
}

.product-details-section > footer button{
    width: 100%;
    height: 60px;
    border-radius: 15px;
    background-color: #D9658F;
    border: 0;
    color: #FFF;
    font-family: "Poppins-Regular";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.25px;
    margin-bottom: 30px;
}

/* START Images Slider override styles*/
.product-details-section > aside .pictures-details{
    border-radius: 15px;
    background-color: transparent;
}
.product-details-section > aside img{
    border-radius: 15px;
}
.product-details-section > aside .active-button-carousel{
    background-color: #D9658F;
    transform: scale(1.3);
}
/* END Images Slider override styles*/

@media (max-width:1000px) {
    .product-details-section > header > h1{
       font-size: 30px;
    }
    .product-details-section > main > p{
        font-size: 20px;
    }
}
@media (max-width:900px) {
    .product-details-section{
        grid-template-columns:1fr auto;
        grid-template-areas: 
        "title title"
        "image image"
        "add-to-cart-button price"
        "description description";
        gap:20px
    }
    .product-details-section > aside{
        width: 60%;
        margin: auto;
    }
    .product-details-section > header > h1{
        text-align: center;
     }
    .product-details-section > main > p{
        text-align: start;
    }
}

@media (max-width:600px) {
    .product-details-section{
        grid-template-columns:1fr auto;
        grid-template-areas: 
        "title title"
        "image image"
        "add-to-cart-button price"
        "description description";
        gap:10px
    }
    .product-details-section > aside{
        width: 70%;
        margin: auto;
    }

    .product-details-section > header > h1{
        font-size: 25px;
    }
    .product-details-section > main > p{
        font-size: 16px;
    }
}

@media (max-width: 500px){
    .product-details-section > aside{
        width: 100%;
        margin: auto;
    }
    .product-details-section > main > p{
        margin: 0;
    }
    .product-details-section > footer button{
        font-size: 15px;
        height: 40px;
        padding-left: 0px 10px 0px 10px;
    }
    .product-details-section > section{
        align-self:flex-start;
    }
    .product-details-section > section .price{
        font-size: 20px;
        margin-top: 5px;
    }
    .product-details-section > section .new-price{
        font-size: 23px;
        height: 30px;
    }
    .product-details-section > section .original-price{
        font-size: 15px;
        height: auto;
    }
    .product-details-section > section .price.price-with-discount{
        flex-direction: column;
        align-items: flex-end;
        gap: 0px;
    }
}