.homepage-categories-grid-container{
    margin-top: 50px;
}

.homepage-categories-grid-container header{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.homepage-categories-grid-container header h1{
    color: #000;
    font-family: "Poppins-Medium";
    font-size: 25px;
    margin:0;
    color: #d763aeff;
    white-space: nowrap;
    text-align: center;
}

.homepage-categories-grid{
    width: 90%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 20px 60px;
    justify-content: flex-start;
    margin:0 auto;
    padding:10px;
}

.homepage-categories-grid a{
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap:10px
}

.homepage-categories-grid a img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.21);
}

.homepage-categories-grid a div{
    height: 30%;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    color: #000;
    font-family: "Poppins-Regular";
    font-size: 16px;
    opacity: 0.8;
}

@media (min-width: 400px) and (max-width:680px){
    .homepage-categories-grid{
        grid-template-columns: repeat(auto-fill, 130px);
        gap: 10px 30px;
        width: 100%;
        justify-content: center;
    }
    .homepage-categories-grid a{
        height: 160px;
    }

    .homepage-categories-grid a div{
        font-size: 14px;
    }
    .homepage-categories-grid-container header h1{
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width:400px){
    .homepage-categories-grid{
        grid-template-columns: repeat(auto-fill, 130px);
        gap: 5px 15px;
        width: 100%;
        justify-content: center;
    }
    .homepage-categories-grid a{
        height: 170px;
    }
    .homepage-categories-grid a div{
        font-size: 14px;
    }
    .homepage-categories-grid-container header h1{
        font-size: 20px;
        text-align: center;
    }
}