.products-cart-datatable .product-cart-img{
    width: 80px;
    height: 60px;
    object-fit: contain;
}

.products-cart-datatable .delete-product-from-cart-button{
    border: 0;
    background-color:transparent;
    cursor: pointer;
}

.products-cart-datatable .p-datatable-wrapper{
    height:auto;
    min-height:0;
}